@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vazirmatn', sans-serif;
  cursor: url('http://www.rw-designer.com/cursor-extern.php?id=168734'), auto;
}

body {
  background-color: lightgray;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}