//Home Page
$nav-bar-height: 3.5rem;
$gap: 5vh;
$max-height: calc(100vh - ($nav-bar-height + $gap));

$darken-color: rgba(17,17,17,0.75);
$darken-text-color: rgb(160, 160, 160);
$chat-color: rgba(17, 17, 17, 0.5);

//nav-bar
$focus-shadow: drop-shadow(0px 0px 10px #69e0ff);

//buttons
$button-color: #ece5d8;
$button-border: 3px solid #ece5d88a;
$button-background-color: #5a6272;
$button-outline: 5px solid #5a6272;