@import './variables';

.avatar {
  max-height: $max-height;
  overflow: hidden;
  position: absolute;
  right: 0;

  img {
    height: 125%;
    width: 125%;
    object-fit: cover;
  }

  .floating {
    animation: floating 5s ease-in-out infinite normal;
  }

  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
  }
}