@import './variables';

.character-description {
  color: rgb(233, 233, 233);
  background-color: $chat-color;
  margin: 1rem 0 0 0;
  padding: 1rem;
  overflow-y: auto;
  position: relative;
  z-index: 1;

  fieldset {
    position: relative;
    padding: 0.5rem;
  }

  button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.247);
    color: white;
    padding: 0.25rem;
    width: 6rem;
    transition: all 0.1s ease-in-out;
  }
}