@import './variables';

.character-description {
  color: rgb(233, 233, 233);
  background-color: $chat-color;
  margin: 1rem 0rem;
  padding: 1rem;
  overflow-y: auto;
  position: relative;
  z-index: 1;

  button {
    position: absolute;
    top: 0;
    right: 0;
  }
}