@import './variables';

.chat {
  display: grid;
  grid-template-rows: 85% 5% 10%;
  max-height: $max-height;
  z-index: 1;

  ul {
    overflow-y: auto;
    background-color: $chat-color;

    .me {
      flex-direction: row-reverse;
      
      aside {
        text-align: right;
      }
    }

    li {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;

      .icon {

        img {
          width: 5rem;
          display: inline-block;
        }
      }

      .message {
        max-width: 70%;

        .bubble {
          overflow-wrap: break-word;
          border: 2px solid black;
          border-radius: 1.25rem;
          padding: 0.3rem 0.75rem;
          background-color: white;
          font-size: 1.25rem;
          filter: drop-shadow(5px 5px 10px rgba(51, 51, 51, 0.5));
        }

        aside {
          font-style: italic;
          margin: 0 1rem;
          color: white;
          opacity: 0.5;
          font-size: 0.75rem;
        }
      }
    }
  }
  
  .input-box {
    background-color: green;
    display: grid;
    grid-template-columns: 90% 10%;

    input {
      padding: 0.25rem 0.5rem;
      outline: none;
      font-size: 1.25rem;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}