@import './variables';

$avatar-dimension: 6rem;
$rounded-edges-width: 10%;
$round-radius-left: 50% 0 0 50%;
$round-radius-right: 0 50% 50% 0;
$friend-tab-background-color: white;

.friend {
  display: flex;
  justify-content: space-between;
  background-color: $friend-tab-background-color;
  margin: 1rem auto;
  width: 60%;
  height: 100%;
  position: relative;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }

  &::before {
    content: "";
    position: absolute;
    left: 5%;
    transform: translateX(-100%);
    width: $rounded-edges-width;
    height: 100%;
    background-color: $friend-tab-background-color;
    border-radius: $round-radius-left;
  }
  
  &::after {
    content: "";
    position: absolute;
    width: $rounded-edges-width;
    height: 100%;
    right: 5%;
    transform: translateX(100%);
    background-color: $friend-tab-background-color;
    border-radius: $round-radius-right;
  }
  
  .left {
    display: flex;
    align-items: center;

    img {
      width: $avatar-dimension;
      height: $avatar-dimension;
      object-fit: contain;
      border-radius: 50%;
      background-color: lightgray;
      position: relative;
      left: -1.5%;
    }
  }

  .right {
    position: relative;
    left: 1.5%;
    display: flex;
    
    button {
      border: none;
      align-self: center;
      padding: 1rem;
      z-index: 1;
      background-color: transparent;
      transform: scale(1.5);
  
      &:hover {
        color: gray;
      }
    }
  }
}