.my-avatar {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  transition: all 0.5s ease-in-out;

  img {
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 100px;
    transition: all 0.5s ease-out;
    left: 0;
    opacity: 1;
  }

  .typing {
    top: 60px;
  }

  .hide-me {
    left: 300px;
    opacity: 0;
  }
}