.my-avatar {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  transition: all 0.5s ease-in-out;

  img {
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 100px;
    transition: all 0.5s ease-out;
  }

  .typing {
    top: 30px;
  }
}