@import './variables';

.nav-bar {
  display: grid;
  grid-template-columns: 77% 23%;
  font-size: 1rem;
  background-color: $darken-color;
  z-index: 2;
  
  ul {
    position: relative;
    color: $darken-text-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    .current {
      color: white;
      filter: $focus-shadow;
    }

    .transition {
      transition: all 0.25s ease-in;
    }

    li {
      font-size: 1rem;
      list-style-type: none;
      display: flex;
      align-items: center;

      .logo {
        height: $nav-bar-height;
        width: 9rem;
        object-fit: cover;
      }

      .nav-icon {
        position: relative;
        display: flex;
        align-items: center;

        img {
          height: $nav-bar-height;
        }

        #progress-hold {
          position: absolute;
          height: 16%; /* 16% -filled, 84% -empty*/
          width: 100%;
          top: 0;
          overflow: hidden;
          transition: all 0.5s;
        }
        #wish-progress {
          filter: grayscale(100%);
          filter: contrast(0);
        }
      }
    }

    .clickable {
      &:hover {
        color: white;
        filter: $focus-shadow;
      }
    }

    #focus-line {
      position: absolute;
      bottom: 0;
      height: 0.3rem;
      background-color: #69e0ff;
      filter: $focus-shadow;
      transition: all 0.25s;
    }
  }

  #nav-account {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    h2 {
      width: 50%;
      overflow: hidden;
      text-align: center;
      scroll-behavior: smooth;
      color: white;
    }
  }
}