@import './variables';

.online-bar {
  display: inline-block;
  text-align: center;
  max-height: $max-height;
  background-color: $chat-color;
  color: white;
  margin-bottom: 15rem;
  
  h1 {
    margin: 0.5rem;
    font-size: 1.25rem;
  }

  li {
    opacity: 0;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.05);
    flex-wrap: wrap;

    .online-profile {
      display: flex;
      align-items: center;

      img {
        object-fit: contain;
        width: 50px;
        height: 50px;
      }
    }

    .online-bar-buttons {
      display: flex;
      justify-content: space-evenly;
      width: 30%;
      height: 100%;

      button {
        background-color: transparent;
        border: none;
        color: $darken-text-color;

        &:hover {
          color: white;
        }
      }
    }
  }
}