@import './variables';

.online-bar {
  display: inline-block;
  text-align: center;
  max-height: $max-height;
  
  li {
    background-color: white;
    display: flex;
    align-items: center;

    img {
      width: 50px;
    }
  }
}