// Login Page
$formcolor: rgb(236, 224, 163);
$backgroundUrl: '../../assets/Genshin-Impact-003.jpg';
$malePaddingColor: lightblue;
$maleBorderColor: blue;
$femalePaddingColor: pink;
$femaleBorderColor: palevioletred;
$textColor: #704a17;