@import './variables';
@import '../../components/stylesheets/variables';

.friends {
  display: grid;
  height: 100vh;
  grid-template-rows: $nav-bar-height auto;
  gap: 2rem;

  main {
    display: grid;
    grid-template-rows: repeat(auto-fit, 7rem);
    overflow-y: auto;
    gap: 1rem;
  }
}

.no-friends {
  display: grid;
  height: 100vh;
  grid-template-rows: $nav-bar-height auto;

  main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    background-color: $chat-color;
    color: white;
    font-size: 3rem;
    padding: 1rem;
  }
}