@import './variables';
@import '../../components/stylesheets/variables';

.friends {
  display: grid;
  height: 100vh;
  grid-template-rows: $nav-bar-height auto;
  gap: $gap;

  main {
    display: grid;
    grid-template-columns: 15vw auto 25vw;
    gap: 2rem;
    margin: 0 2rem;
  }
}