@import './_variables.scss';

.Login {
  display: grid;
  color: $textColor;
  grid-template-columns: 60% 40%;
  overflow: hidden;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url($backgroundUrl);

  .genshin-logo {
    display: block;
    margin: 10px auto;
    width: 20vw;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 3px solid #88591c;
    background-color: $formcolor;
    width: 40vw;
    height: 70vh;
    margin: 10px auto;

    aside {
      text-align: center;
      font-style: italic;
    }

    label {
      width: 60%;
    }

    input {
      outline-color: $textColor;
      font-size: 1.5rem;
      width: 100%;
      padding: 0.5rem 0.5rem;
    }

    h1 {
      text-align: center;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      padding: 1rem 10%;
      border: none;
      border-radius: 5px;
      color: $textColor;
      border: 1px solid #704a17;
      background-image: linear-gradient(to bottom, #ffcf0d, #ffbf04);

      &:hover {
        color: #704a1d;
        border: 1px solid #704a1d;
        background-image: linear-gradient(to bottom, #ffd426, #ffc61e);
      }
    }

    .gender-box {
      width: 100%;
      text-align: center;

      .gender {
        display: inline-block;
        border: 1px solid black;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
      }

      .male {
        border-color: $textColor;

        &:hover {
          background-color: $malePaddingColor;
          border: 1px solid $maleBorderColor
        }
      }
  
      .female {
        border-color: $textColor;

        &:hover {
          background-color: $femalePaddingColor;
          border: 1px solid $femaleBorderColor;
        }

      }

      .male-select {
        background-color: $malePaddingColor;
        border: 1px solid $maleBorderColor;
      }

      .female-select {
        background-color: $femalePaddingColor;
        border: 1px solid $femaleBorderColor;
      }
        
      input {
        display: inline-block;
  
        &[type='radio'] {
          opacity: 0;
          user-select: none;
        }
      }
    }

    p {
      display: block;
    }
  }

  .character-image {
    opacity: 0;
    height: 100vh;
  }

  .switch-caption {
    text-align: center;

    p {
      text-shadow: 
        -1px 1px 0 $textColor,
        1px 1px 0 $textColor,
        1px -1px 0 $textColor,
        -1px -1px 0 $textColor;
      color: white;
      display: inline-block;
    }

    button {
      color: white;
      border-radius: 5px;
      border: 1px solid $textColor;
      padding: 0.5rem 1rem;
      margin: 0 0.5rem;
      background-color: #ce9858;

      &:hover {
        background-color: #dca562;
      }
    }
  }
  
  .appearBottom {
    position:relative;
    animation: animatebottom 0.4s ease-out;
    animation-fill-mode: forwards;
  
    @keyframes animatebottom{
      from{bottom:-600px;opacity:0}
      to{bottom:0;opacity:1}
    }
  }
  
  .appearRight {
    position:relative;
    animation: animateRight 0.7s ease-out;
    animation-fill-mode: forwards;
  
    @keyframes animateRight{
      from{right:-300px;opacity:0}
      to{right:0;opacity:1}
    }
  }
}



