@import './variables';
@import '../../components/stylesheets/variables';

.profile {
  display: grid;
  height: 100vh;
  grid-template-rows: $nav-bar-height auto;

  main {
    display: grid;
    grid-template-columns: 35vw auto;
    gap: 2rem;
    margin: 0 2rem;

    .avatar-hold {
      position: relative;

      .character-preview {
        position: absolute;
        height: calc(100vh - $nav-bar-height);
        right: 100%;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        filter: opacity(0);

        img {
          object-fit: contain;
          height: 100%;
          transition: all 0.5 ease-in-out;
          transform: translateX(50%);
        }
      }

      .spotlight {
        right: 50%;
        filter: opacity(1);
        visibility: visible;
      }
    }

    .character-box-hold {
      display: grid;
      grid-template-rows: 35vh 50vh;

      .characters-box {
        position: relative;
        display: grid;
        background-color: $chat-color;
        color: white;
        margin-top: 2vh;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fit, 45%);
        overflow-y: auto;
        height: 50vh;
        z-index: 1;
  
        .character {
          display: flex;
          justify-content: center;
          
          figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            height: 70%;
            
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }

    .character-amount {
      display: flex;
      justify-self: flex-end;
      align-self: flex-start;
      padding: 0 1rem 0.25rem 1rem;
      background-color: $chat-color;
      color: white;
      margin-top: 2vh;
    }
  }
}