@import './variables';
@import '../../components/stylesheets/variables';

.shop {
  display: grid;
  height: 100vh;
  grid-template-rows: $nav-bar-height auto;

  main {
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;

    .selection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .shop-button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        width: 100%;
        max-width: 60%;
        padding: 1rem;
        border-radius: 2px;
        border: none;

        img {
          height: 10rem;
        }

        &:hover {
          filter: brightness(1.1);
        }
      }

      #gacha-button {
        background-color: lightgreen;
        box-shadow: 0 0 0 10px green;

      }

      #mora-button {
        background-color: rgb(255, 255, 159);
        box-shadow: 0 0 0 10px rgba(250, 250, 0, 0.836);
      }
    }

    .shop-keeper {
      display: flex;
      align-items: center;
      position: relative;
      right: 50%;
      
      img {
        width: 75%;
      }
    }
  }
}

.shop-keeper-appear {
  animation: animateRight 0.7s ease-out, floating 5s ease-in-out infinite normal;
}


