@import './variables';
@import '../../components/stylesheets/variables';

$delay-time: 0.5s;

.shop {
  display: grid;
  height: 100vh;
  grid-template-rows: $nav-bar-height auto;

  main {
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;

    .selection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin: 10vh 0;

      .shop-button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        width: 100%;
        max-width: 50%;
        padding: 1rem;
        border: none;
        transition: all 0.5s;
        background-color: $button-background-color;
        color: $button-color;
        border: $button-border;
        outline: $button-outline;

        img {
          height: 7.5rem;
        }

        &:hover {
          transform: scale(1.05);
          filter: brightness(1.1);
        }

        aside {
          color: darkgray;
          opacity: 0.75;
          font-size: 1rem;
          font-style: italic;
        }
      }
    }

    .shop-keeper {
      display: flex;
      align-items: center;
      position: relative;
      right: 40%;
      opacity: 1;
      bottom: 0;
      transition: all 0.7s ease-out;

      img {
        width: 75%;
        opacity: 1;
      }
    }

    .hide {
      opacity: 0;
      bottom: -100%;
    }

    .prize {
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: hidden;

      img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        filter: brightness(0);
      }

      .prize-animate {
        animation: prize-animate 2s forwards;
        animation-timing-function: ease-in-out;

        @keyframes prize-animate{
          0%{opacity: 0; filter: brightness(0); height: 200vh}
          25%{opacity: 1; filter: brightness(0); height: 100vh}
          100%{opacity: 1; filter: brightness(1); height: 100vh}
        }
      }

      .skip-prize-animate {
        animation-duration: 1ms;
        animation-fill-mode: forwards;
      }
    }

    .none {
      display: none;
    }
  }
}

.shop-keeper-appear {
  animation: floating 5s ease-in-out infinite normal;
}

